$icon-font-path: "../bower_components/bootstrap-sass-official/vendor/assets/fonts/bootstrap/";
// bower:scss
@import "bootstrap-sass-official/vendor/assets/stylesheets/bootstrap.scss";
// endbower

.browsehappy {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}
p{
	color: #151515;
	font-weight: 300;
	font-size: 1.125em;
	line-height: 1.375em;
	padding-bottom: 1em;
	word-wrap: break-word;
}
/* Space out content a bit */
body,html {
  /*padding-top: 0.375em;*/
  padding-bottom: 0.375em;
  overflow-x: hidden;
  overflow-y: scroll;
  height: 100%;
}
::-webkit-scrollbar { 
    display: none; 
}
a {
  color: white;
  text-decoration: none;
}
.headerFixed {
	position: absolute;
    height: 50px;
    top: 0;
    width: 100%;
  	background-color: #29b6f6;
	padding: 10px 0px 10px 0px;
	z-index : 999;
}

.footer {
	position: absolute;
    height: 50px;
    bottom: 0;
    width: 100%;
  	color: white;
  	background-color: #ff9800;
  	padding: 10px 0px 10px 10px;
}

#wrapper {
    padding-left: 0;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
    /*padding-top:0.375em;*/
}

#wrapper.toggled {
	padding-left: 250px;
}

#sidebar-wrapper {
    z-index: 1050;
    top : 50px;
    position: absolute;
    width: 250px;
    /*height: 100% !important;*/
    margin-left: -250px;
    overflow-y: auto;
    background: white;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
    display : none;
}

#wrapper.toggled #sidebar-wrapper {
    width: 250px;
}

#page-content-wrapper {
	margin-top: 50px;
	margin-bottom: 50px;
    width: 100%;
    /*padding: 15px;
    border-top: 1px solid #e5e5e5;
    padding-top:0.375em;*/
}

#wrapper.toggled #page-content-wrapper {
    position: absolute;
    margin-right: -250px;
}

/* Sidebar Styles */

.sidebar-nav {
    position: absolute;
    top: 0;
    width: 250px;
    margin: 0;
    padding: 0;
    list-style: none;
}

.sidebar-nav li {
    text-indent: 20px;
    line-height: 40px;
    border-bottom: 1px solid #eaeaea;
}

.sidebar-nav li a {
    display: block;
    text-decoration: none;
    color: #29b6f6;
}
.sidebar-nav li a.active {
    text-decoration: none;
    color: #ff9800;
    /*background: rgba(255,255,255,0.2);*/
}
.sidebar-nav li a:hover,.sidebar-nav li a .active {
    text-decoration: none;
    color: #ff9800;
    /*background: rgba(255,255,255,0.2);*/
}

.sidebar-nav li a:active,
.sidebar-nav li a:focus {
    text-decoration: none;
}

.sidebar-nav > .sidebar-brand {
    height: 65px;
    font-size: 18px;
    line-height: 60px;
}

.sidebar-nav > .sidebar-brand a {
    color: #999999;
}

.sidebar-nav > .sidebar-brand a:hover {
    color: #fff;
    background: none;
}
.page_title{
    color: #ff9800;
    letter-spacing : 0.125em;
    font-size: 16px;
    padding-bottom:10px;
    padding-top:5px;
    font-weight:bold;
    border-bottom: 1px solid #ff9800;
    margin-bottom:8px;
    text-align: left;
    box-shadow: 0 5px 5px -5px #333;
    -webkit-box-shadow: 0 5px 5px -5px #333;
	-moz-box-shadow: 0 5px 5px -5px #333;
}
.form-horizontal input.ng-invalid.ng-dirty {
   border-bottom: 2px solid #F44336;
   box-shadow: 0 5px 5px -5px #333;
    -webkit-box-shadow: 0 5px 5px -5px #333;
	-moz-box-shadow: 0 5px 5px -5px #333;
  }

.form-horizontal input.ng-valid.ng-dirty {
    border-bottom: 2px solid #66BB6A;
    box-shadow: 0 5px 5px -5px #333;
    -webkit-box-shadow: 0 5px 5px -5px #333;
	-moz-box-shadow: 0 5px 5px -5px #333;
}
.form-horizontal textarea.ng-invalid.ng-dirty {
    background-color: #EF5350;
    box-shadow: 0 5px 5px -5px #333;
    -webkit-box-shadow: 0 5px 5px -5px #333;
	-moz-box-shadow: 0 5px 5px -5px #333;
}

.form-horizontal textarea.ng-valid.ng-dirty {
    background-color: #A7FFEB;
    box-shadow: 0 5px 5px -5px #333;
    -webkit-box-shadow: 0 5px 5px -5px #333;
	-moz-box-shadow: 0 5px 5px -5px #333;
}
.error  {
    margin-bottom : 0.875em;
}
.marl5px { 
	margin-left : 5px !important;
}
.marl15px { 
	margin-left : 15px !important;
}
.sep5px { 
	margin-bottom : 15px !important;
	text-align : left !important;
	padding-left : 10px !important;
}

.mymenu{
	position: relative;
	width: 2em;
	height: 30px;
	margin-left: 8px;
	float: left;
}
.menutext { 
	padding-left: 0px;
}
.mymenu span:after {
	content: '';
	position: absolute;
	width: 68%;
	height: 5px;
	background: #636363;
	top: 0px;
	left: 16%;
	box-shadow: 0 10px 0 #636363, 0 20px 0 #636363;
}
.right-menu {
	position: relative;
	width: 1em;
	height: 30px;
	float: right;
}
.right-menu span:after {
	content: '';
	position: absolute;
	width: 20%;
	height: 5px;
	background: #636363;
	top: 0px;
	left: 16%;
	box-shadow: 0 10px 0 #636363, 0 20px 0 #636363;
}
.msloader {
	text-align: right;
	font-size: 18px;
	font-weight: 600;
	color: #FFFFFE;
	line-height: 28px;
	position : absolute;
	display:none;
}
.msPosition {
	position : absolute;
	left : 45%;
	top : 40%;
}
.container {
	padding-left: 0.875em !important;
	padding-right: 0.875em !important;
}
.m_header {
	background-color: #29b6f6;
	padding: 10px 0px 10px 10px;
	position: absolute;
    top: 0;
    width: 100%;
    z-index : 999;
}

.table tbody tr.vc_details td {
	color: rgb(102,102,102);
    font-size: 12px;
    font-weight: 600;
    line-height: 16px;
    padding-right: 8px;
    position: relative;
    padding-top: 5px;
    vertical-align: top;
}
.table > thead > tr > th, .table > tbody > tr > th {
	border-top: none !important;
}
.vc_details .vc_name {
 	display: block;
    font-size: 12px;
    font-weight: 500;
    letter-spacing: 0.03em;
    line-height: 16px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    width: 98px;
}
.vc_details .vc_givendate  {
	width: 98px;
}
.vc_details .vc_givendate .form-control {
	width : 85%;
}
.pr_title {
	font-size: 16px;
	font-weight: bold;
	letter-spacing: 0.03em;
	line-height: 22px;
	color: #636363;
	text-align: right;
}
#ajaxloader
{
	position: absolute;
	width: 30px;
	height: 30px;
	border: 8px solid #fff;
	border-right-color: transparent;
	border-radius: 50%;
	box-shadow: 0 0 25px 2px #eee;
}
#ajaxloader
{
	animation: spin 1s linear infinite;
}

@keyframes spin
{
	from { transform: rotate(0deg);   opacity: 0.2; }
	50%  { transform: rotate(180deg); opacity: 1.0; }
	to   { transform: rotate(360deg); opacity: 0.2; }
}
.modal-body .danger {
	color : #FA787E;
}	
.modal-body .success {	
	color : #78FA89;
}	
.popover.bottom > .arrow {
	left: 86% !important;
	margin-left: -9px;
	border-top-width: 0;
	border-bottom-color: #999999;
	border-bottom-color: rgba(0, 0, 0, 0.05);
	top: -11px;
}
.popover.bottom {
	margin-top: 3px !important;
	margin-left: -15px !important;
}
.popover {
	position: absolute;
	top: 0;
	left: 62% !important;
	min-width: 40%;
	z-index: 1060;
	display: none;
	max-width: 276px;
	padding: 1px;
	text-align: left;
	background-color: white;
	background-clip: padding-box;
	border: 1px solid #cccccc;
	border: 1px solid rgba(0, 0, 0, 0.2);
	border-radius: 6px;
	box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
	white-space: normal;
}
#popOverBox ul{
	padding: 0px 0px 0px 5px;
	list-style: none;
	margin-bottom: 5px;
}
#popOverBox ul li {
	padding-bottom: 10px;
	font-size: 14px;
	font-weight: 500;
	line-height: 22px;
	letter-spacing: 0.03em;
}	
.form-control {
	font-size: 13px !important;
	font-weight: 500;
	color: #636363 !important;
}
.form-group .control-label {
	font-size: 13px !important;
	font-weight: 500;
	color: #636363 !important;
}
.securityMobile {
	-webkit-text-security : disc;
}	
.well1 {
	color : #ff9800;
	background-color : transparent;
	border : none;
}
/* Responsive: Portrait tablets and up */
@media screen and (min-width: 992px) {
  	.container {
  		width : 65%;
  	}
  	#page-content-wrapper {
		margin-top: 80px;
		margin-bottom: 50px;
	}	
}