<div class="page_title">Child Information </div>
<div class="child-details  ">
	<form class="form-horizontal" role="form" method="post" action="" name="c_frm" id="c_frm" novalidate>
		<div class="form-group ">
			<div class="col-sm-12">
				<input type="tel" ng-Pattern="/[0-9]{10,10}/" class="form-control " id="mobileNum" name="mobileNum" placeholder="Mobile Number" autocomplete="on" ng-maxlength="10" required ng-model="child.mobile_num">
			</div>
		</div>
		<div class="form-group ">
			<label for="c_name" class="col-sm-4 control-label">Vaccination for</label>
			<div class="col-sm-12">
				<input type="radio" ng-model="child.gender" value="male" required checked /> male
    			<input type="radio" ng-model="child.gender" value="female"  /> female
			</div>
		</div>
		<div class="form-group ">
			<div class="col-sm-12">
				<input type="text"  class="form-control " id="childernName" ng-model="child.childern_name" name="childernName" placeholder="Enter Childern Name" required autocomplete="off">
			</div>
		</div>
		<div class="form-group">
			<label for="b_date" class="col-sm-4 control-label">Having Birth Date</label>
			<div class="col-sm-12">
				<input type="date" class="form-control" id="b_date" name="b_date" ng-model="child.birth_date" placeholder="Birth Date" min={{min_date}}  max={{max_date}} required autocomplete="off">
			</div>
		</div>
		<div class="form-group">
				<div class="col-sm-12"><input type="checkbox" checked ng-required> Accept Terms and Conditions</div>
    	</div>	
		<div class="form-group">
			<div class="col-sm-12">
				<button ng-click="update(child)" ng-disabled="c_frm.$invalid || isUnchanged(child)" class="btn btn-primary btn-block ">Save</button>
				<a  class="btn btn-primary btn-block " href="#/dashboard">Back</a>
			</div>
		</div>
	</form>
</div>