<div class="page_title">Dashboard</div>
<span ng-show="userRole=='doctor'"><a class="btn btn-primary btn-block sep5px" ng-href="#/child">Add Child Vaccination Details</a></span>
<span ng-show="userRole=='doctor'"><a class="btn btn-primary btn-block sep5px" ng-href="#/pre-details">Add Pregnancy Details</a></span>
<span ng-show="userRole=='doctor'"><a class="btn btn-primary btn-block sep5px" ng-href="#/health-details">Add Next Appointment Details</a></span>
<span ng-show="userRole=='reguser'"><a class="btn btn-primary btn-block sep5px" ng-href="#/child-vac-details">Show Vaccination Details</a></span>
<!-- button class="btn btn-primary btn-block sep5px">Pregnancy</button>
<button class="btn btn-primary btn-block sep5px">Health Related</button-->
