<div class="page_title">Dashboard</div>
<span ng-show="userRole=='doctor'"><a class="btn btn-primary btn-block sep5px" ng-href="#/child">Child Vaccination Details</a></span>
<span ng-show="userRole=='doctor'"><a class="btn btn-primary btn-block sep5px" ng-href="#/pre-details">Pregnancy Details</a></span>
<span ng-show="userRole=='doctor'"><a class="btn btn-primary btn-block sep5px" ng-href="#/health-details">Appointment Details</a></span>
<span ng-show="userRole=='reguser'"><a class="btn btn-primary btn-block sep5px" ng-href="#/child-vac-details">Show Vaccination Details</a></span>

