<div class="page_title">Dashboard</div>
<span ng-show="userRole=='doctor'"><a class="btn btn-primary btn-block sep5px" ng-href="#/child"><img src='images/child_vac.png' width ="26px" height="26px" style="margin-right:5px;" />Child Vaccination Details</a></span>
<span ng-show="userRole=='doctor'"><a class="btn btn-primary btn-block sep5px" ng-href="#/pre-details"><img src='images/preg_a.png' width ="26px" height="26px" style="margin-right:5px;" />Pregnancy Details</a></span>
<span ng-show="userRole=='doctor'"><a class="btn btn-primary btn-block sep5px" ng-href="#/health-details"><img src='images/health_a.png' width ="26px" height="26px" style="margin-right:5px;" />Appointment Details</a></span>
<span ng-show="userRole=='reguser'"><a class="btn btn-primary btn-block sep5px" ng-href="#/child-vac-details">Show Vaccination Details</a></span>

