<div class="page_title">Patient Information </div>
<div class="pre_details ">
	<form class="form-horizontal" role="form" method="post" action="" name="patient_frm" id="patient_frm">
		<div class="form-group">
			<div class="col-sm-12">
				<input type="text" class="form-control " ng-model="healthDetails.patient_name" id="patientName" name="patientName" placeholder="Enter Patient Name" required>
			</div>
		</div>
		<div class="form-group ">
			<div class="col-sm-12">
				<input type="tel" ng-Pattern="/[0-9]{10,10}/" class="form-control securityMobile" id="mobileNum" name="mobileNum" placeholder="Enter Mobile Number" autocomplete="on" ng-maxlength="10" required ng-model="healthDetails.mobile_num">
			</div>
		</div>
		<div class="form-group " ng-show="(!!healthDetails.mobile_num)">
			<div class="col-sm-12">
				<input type="tel" ng-Pattern="/[0-9]{10,10}/" class="form-control "  ng-disabled="!(!!healthDetails.mobile_num)" id="ReMobileNum" name="ReMobileNum" placeholder="Confirm Mobile Number" autocomplete="off" ng-maxlength="10" required ng-model="healthDetails.re_mobile_num">
				<div ng-show="(patient_frm.mobileNum.$dirty && patient_frm.ReMobileNum.$dirty) && (healthDetails.mobile_num != healthDetails.re_mobile_num)">
			        <span class="text-danger error ">Mobile Number mismatched.</span>
			    </div>
			</div>
		</div>
		<div class="form-group">
			<div class="col-sm-5">
				<select class="form-control" ng-model="healthDetails.currentMonth"  ng-change="validateSubscription(healthDetails.currentMonth,healthDetails.duration.val)" required> 
					<option value="">-- choose subscription --</option>
					<option ng-repeat="month in months" value="{{month.val}}">{{month.name}}</option>
    			</select>
			</div>
		</div>
		<div class="form-group col-sm-12">
				<label for="inputEmail3" class="col-sm-4 control-label">Notification interval after every </label>
				<div class="col-sm-8">
				<div class="radio" ng-repeat="duration in durations">
					<label><input type="radio" ng-model="healthDetails.duration"  ng-value="duration" ng-change="validateSubscription(healthDetails.currentMonth,healthDetails.duration.val)" ng-required>{{duration.name}} </label>
				</div>
				
				<div class="text-danger error" ng-show="invalidDetails" >Issue with subscription days and notification interval.</div>
				</div>
		</div>
		<div class="form-group">
				<div class="col-sm-12"><input type="checkbox" checked ng-required ng-disabled="true"> Accept Terms and Conditions</div>
    	</div>
		<div class="form-group">
			<div class="col-sm-12">
				<button ng-click="update(healthDetails)" ng-disabled="patient_frm.$invalid || isUnchanged(healthDetails) || invalidDetails==true" class="btn btn-primary btn-block ">Save</button>
				<!--a  class="btn btn-primary btn-block " href="#/dashboard">Back</a-->
			</div>
		</div>
	</form>
</div>