<div class="page_title">Patient Information </div>
<div class="pre_details ">
	<form class="form-horizontal" role="form" method="post" action="" name="patient_frm" id="patient_frm">
		<div class="form-group">
			<div class="col-sm-12">
				<input type="text" class="form-control " ng-model="healthDetails.patient_name" id="patientName" name="patientName" placeholder="Enter Patient Name" required>
			</div>
		</div>
		<div class="form-group ">
			<div class="col-sm-12">
				<input type="tel" ng-Pattern="/[0-9]{10,10}/" class="form-control " id="mobileNum" name="mobileNum" placeholder="Enter Mobile Number" autocomplete="on" ng-maxlength="10" required ng-model="healthDetails.mobile_num">
			</div>
		</div>
		<div class="form-group">
			<div class="col-sm-5">
				<select class="form-control" ng-model="healthDetails.currentMonth"  ng-change="validateSubscription(healthDetails.currentMonth,healthDetails.duration.val)" required> 
					<option value="">-- choose subscription --</option>
					<option ng-repeat="month in months" value="{{month.val}}">{{month.name}}</option>
    			</select>
			</div>
		</div>
		<div class="form-group col-sm-12">
				<label for="inputEmail3" class="col-sm-4 control-label">Notification interval after every </label>
				<div class="col-sm-8">
				<div class="radio" ng-repeat="duration in durations">
					<label><input type="radio" ng-model="healthDetails.duration"  ng-value="duration" >{{duration.name}} </label>
				</div>
				</div>
		</div>
		<div class="form-group">
			<div class="col-sm-12">
				<button ng-click="update(healthDetails)" ng-disabled="patient_frm.$invalid || isUnchanged(healthDetails)" class="btn btn-primary btn-block ">Save</button>
				<a  class="btn btn-primary btn-block " href="#/dashboard">Back</a>
			</div>
		</div>
	</form>
</div>