<div class="jumbotron">
  <h1>Alert me!</h1>
  <p>Automated Reminder Service for child vaccination and routine checkups of your loved ones...</p>
  <a class="btn btn-primary btn-lg" href="#/knowmore" role="button">Know more</a>
</div>
<div class="col-sm-12 col-md-4 col-lg-4 well1">
	<div class='page_title '>Why Vaccinate?</div>
	<p class="light">In simple words, vaccines save lives. The vaccinations gives you
	the power to protect your baby from dangerous illnesses like measles,
	tetanus and hepatitis.<a href="#/whyvac" class="readmore">Read More..</a></p>
</div>
<div class="col-sm-12 col-md-4 col-lg-4 well1">
	<div class='page_title '>Importance of Timing</div>
	<p class="light">According to the Recommended Immunization Schedule for child from
	0 — 6 years of age may receive up to 24 vaccinations to protect them
	from up to 14 diseases by the time they are 2 years of age.<a href="#/vactiming" class="readmore">Read More..</a></p>
</div>
<div class="col-sm-12 col-md-4 col-lg-4  well1">
	<div class='page_title '>Reasons to Vaccinate</div>
	<p class="light">ou want to do what is best for your children. You know about the
	importance of car seats belts, baby food and other ways to keep them
	safe.<a href="#/reasons" class="readmore">Read More..</a></p>
</div>

