<div class='page_title '>Importance of Timing</div>
<p>According to the Recommended Immunization Schedule for child from
	0 — 6 years of age may receive up to 24 vaccinations to protect them
	from up to 14 diseases by the time they are 2 years of age.</p>
<p>Vaccines are recommended for very young children because their
	immune systems are not yet fully mature. which make them the most
	vulnerable to the devastating effects of these serious diseases. Within
	the first two years of life a child is exposed to 11 or 12 vaccines,
	some of which are given over time in multiple doses.</p>
<p>The degree to which these vaccines challenge a child's immune
	system is just a drop in the ocean when compared to the tens of
	thousands of environmental challenges that babies successfully manage
	every single day.</p>
<p>Things you should discuss with your doctor when scheduling
	vaccinations:
<ul>
	<li>If your baby has had an allergic reaction to a previous
		vaccination.</li>
	<li>If your baby has a high fever, or a history of fever after
		receiving a vaccination.</li>
</ul>
</p>
<p>Doctors and other public health experts have worked hard to come
	up with the optimal vaccination schedule, affording the most complete
	and safest protection possible. It is not advisable to skip or delay
	vaccines, as this will leave the child vulnerable to disease for a
	longer period of time. Parents should discuss any concerns with their
	child's pediatrician.</p>



