	<div class='page_title '>Importance of Timing</div>
	<p>According to the Recommended Immunization Schedule for Persons 0 — 6 years of age, children may receive up to 24 vaccinations to protect them from up to 14 diseases by the time they're 2 years of age. It may seem like a lot of vaccines for your child, but some parents are unnecessarily concerned..</p>
	<p>
	Vaccines are recommended for very young children because their immune systems are not yet fully mature and also because their stomachs produce less acid, making it easier for ingested bacteria and viruses to multiply. These factors leave them the most vulnerable to the devastating effects of these serious diseases.
	When a baby is developing in the mother's womb it is in a sterile environment. The baby's immune system goes into action at birth, as the child confronts bacteria outside of the womb. But our bodies are an amazing creation with an immune system that is ready to go to work from the moment that we are born. Infants begin to immediately develop an active immune response to these bacteria -- an immune response that prevents these bacteria from entering the bloodstream and causing harm.
	Within the first two years of life a child is exposed to 11 or 12 vaccines, some of which are given over time in multiple doses.</p>
	<p> The degree to which these vaccines challenge a child's immune system is just a drop in the ocean when compared to the tens of thousands of environmental challenges that babies successfully manage every single day.
	Things you should discuss with your child's health care provider when scheduling vaccinations:
	If your child has had an allergic reaction to a previous vaccination or a vaccine ingredient, such as eggs or gelatin.
	If your child has a high fever, or a history of fever after receiving a vaccination.
Doctors and other public health experts have worked hard to come up with the optimal vaccination schedule, affording the most complete and safest protection possible. It is not advisable to skip or delay vaccines, as this will leave the child vulnerable to disease for a longer period of time. Parents should discuss any concerns with their child's pediatrician.
	</p>
		
		

