<div class=" js_log_details col-sm-12 col-md-8 col-lg-6 col-md-offset-2 col-lg-offset-3">
	<div class="page_title ">Login</div>
	<form class="form-horizontal" role="form" name="log_frm" id="log_frm">
		<div class="form-group">
				<div class="col-sm-12">
					<input type="tel" ng-Pattern="/[0-9]{10,10}/" class="form-control " id="mobileNum" name="mobileNum" placeholder="Mobile Number"
					autocomplete="on" ng-maxlength="10" required ng-model="user.mobile_num">
				</div>	
		</div>
		<div class="form-group">
				<div class="col-sm-12">
				<input type="password" class="form-control" id="uPass" name="uPass" placeholder="Password" required ng-model="user.u_pass">
				</div>
		</div>
		<div class="form-group">
				<div class="col-sm-12">
				<div class="checkbox">
					<label> <input type="checkbox" id="remember" name="remember" ng-click="checkRememberMe()"> Remember me
					</label>
				</div>
				</div>
		</div>
		<div class="form-group">
			<div class="col-sm-12">
    			<button ng-click="login(user)" ng-disabled="log_frm.$invalid || isUnchanged(user)" class="btn btn-primary btn-block ">Login</button>
    			<button ng-click="reset()" ng-disabled="isUnchanged(user)" class="btn btn-primary btn-block ">RESET</button>
			</div>
		</div>
	</form>
</div>
	