<div class="page_title">Mother Information </div>
<div class="pre_details ">
	<form class="form-horizontal" role="form" method="post" action="" name="p_frm" id="p_frm">
		<div class="form-group">
			<!--label for="m_name" class="col-sm-4 control-label">Mother Name</label-->
			<div class="col-sm-12">
				<input type="text" class="form-control " ng-model="preDetails.mother_name" id="motherName" name="motherName" placeholder="Enter Mother Name" required>
			</div>
		</div>
		<div class="form-group ">
			<div class="col-sm-12">
				<input type="tel" ng-Pattern="/[0-9]{10,10}/" class="form-control securityMobile" id="mobileNum" name="mobileNum" placeholder="Enter Mobile Number" autocomplete="on" ng-maxlength="10" required ng-model="preDetails.mobile_num">
			</div>
		</div>
		<div class="form-group " ng-show="(!!preDetails.mobile_num)">
			<div class="col-sm-12">
				<input type="tel" ng-Pattern="/[0-9]{10,10}/" class="form-control "  ng-disabled="!(!!preDetails.mobile_num)" id="ReMobileNum" name="ReMobileNum" placeholder="Confirm Mobile Number" autocomplete="off" ng-maxlength="10" required ng-model="preDetails.re_mobile_num">
				<div ng-show="(p_frm.mobileNum.$dirty && p_frm.ReMobileNum.$dirty) && (preDetails.mobile_num != preDetails.re_mobile_num)">
			        <span class="text-danger error ">Mobile Number mismatched.</span>
			    </div>
			</div>
		</div>
		<div class="form-group">
			<!--label for="cur_month" class="col-sm-4 control-label">On Going Month</label-->
			<div class="col-sm-12">
				<select class="form-control" ng-model="preDetails.currentMonth" required ng-change="displayExpDate(preDetails.currentMonth)"> 
					<option value="">-- choose on going month --</option>
					<option ng-repeat="month in months" value="{{month.val}}">{{month.name}}</option>
    			</select>
			</div>
		</div>
		<div class="form-group">
			<div class="col-xs-12 hide">
				<div class="col-xs-6">
					<label for="m_name" class="control-label">Expected Date</label>
					<div class="d_expectedMonth" ng-model="preDetails.expectedDate">{{expectedDate}}</div>
				</div>
				<div class="col-xs-6">
					<label for="m_name" class="control-label">Remaining Days</label>
					<div class="remainingDays"></div>
				</div>
			</div>
		</div>
		<div class="form-group col-sm-12">
			<label for="inputEmail3" class="col-sm-4 control-label">Notification Interval</label>
			<div class="col-sm-8">
				<div class="radio" ng-repeat="interval in intervals">
					<label><input type="radio" ng-model="preDetails.interval"  ng-value="interval" ng-required>{{interval.name}} </label>
				</div>
			</div>
		</div>
		<div class="form-group">
				<div class="col-sm-12"><input type="checkbox" checked ng-required ng-disabled="true"> Accept Terms and Conditions</div>
    	</div>
		<div class="form-group">
			<div class="col-sm-12">
				<button ng-click="update(preDetails)" ng-disabled="p_frm.$invalid || isUnchanged(preDetails)" class="btn btn-primary btn-block ">Save</button>
				<!--a  class="btn btn-primary btn-block " href="#/dashboard">Back</a-->
			</div>
		</div>
	</form>
</div>