<div class="page_title">Important Reasons to Vaccinate Your Child</div>
<p>You want to do what is best for your children. You know about the
	importance of car seats belts, baby food and other ways to keep them
	safe. But, did you know that one of the best ways to protect your
	children is to make sure they have all of their vaccinations?</p>

<h4>Immunizations can save your child’s life.</h4>
<p>Because of advances in medical science, your child can be
	protected against more diseases than ever before. Some diseases like
	Polio,Measles which are most-feared disease in India. One example of
	the great impact that vaccines can have is the elimination of polio in
	the India. Polio was once India's most-feared disease, causing death
	and paralysis across the country, but today, thanks to vaccination,
	there are no reports of polio in the India.</p>

<h4>Vaccination is very safe and effective.</h4>
<p>Vaccines are only given to children after a long and careful
	review by doctors and healthcare professionals. Vaccines will involve
	some discomfort and may cause pain, redness, or tenderness at the site
	of injection but this is minimal compared to the pain, discomfort, and
	trauma of the diseases these vaccines prevent.</p>

<h4>Immunization protects others you care about.</h4>
<p> Some people may not be able to receive certain vaccinations due to
	severe allergies, weakened immune systems from conditions like
	leukemia, or other reasons. To help keep them safe, it is important
	that you and your children who are able to get vaccinated are fully
	immunized. This not only protects your family, but also helps prevent
	the spread of these diseases to your friends and loved ones.</p>
<h4>Immunization protects future generations.</h4>
<p>Vaccines have reduced and, in some cases, eliminated many diseases like smallpox and helps to protect next generations.
Your baby don’t have to get smallpox shots any more because the disease no longer exists.
</p>