<div class="js_log_details col-sm-12 col-md-8 col-lg-6 col-md-offset-2 col-lg-offset-3" ng-controller="RegisterCtrl">
	<div class="page_title">Register User </div>
	<form class="form-horizontal" role="form" method="post" action=""
		name="reg_frm" id="reg_frm">
		<div class="col-sm-5 col-sm-offset-4 text-danger error "></div>
		<div class="form-group">
			<div class="col-sm-12">
				<input type="tel" ng-Pattern="/[0-9]{10,10}/" class="form-control " id="mobileNum" name="mobileNum" placeholder="Mobile Number"
					autocomplete="on" ng-maxlength="10" required ng-model="reguser.mobile_num">
			</div>
		</div>
		<div class="form-group">
			<div class="col-sm-12">
				<input type="password" class="form-control" id="uPassword" name="uPassword" placeholder="Password" required ng-model="reguser.u_pass" ng-minlength="5" ng-maxlength="15">
				<span class="text-danger error " ng-show="reg_frm.uPassword.$dirty && reg_frm.uPassword.$error.minlength">Too short</span>
    			<span class="text-danger error " ng-show="reg_frm.uPassword.$dirty && reg_frm.uPassword.$error.required">Password required.</span>
			</div>
		</div>
		<div class="form-group">
			<div class="col-sm-12">
				<input type="password" class="form-control" id="ucPassword" name="ucPassword" placeholder="Confirm Password" required ng-model="reguser.c_pass" ng-minlength="5" ng-maxlength="15">
			
					<span class="text-danger error " ng-show="reg_frm.ucPassword.$dirty && reg_frm.ucPassword.$error.minlength">Too short</span>
			    	<span class="text-danger error " ng-show="reg_frm.ucPassword.$dirty && reg_frm.ucPassword.$error.required">Retype password.</span>
			    	<div ng-show="(reg_frm.uPassword.$dirty && reg_frm.ucPassword.$dirty) && (reguser.u_pass != reguser.c_pass)">
			        	<span class="text-danger error ">Password mismatched</span>
			    	</div>
			    </div>
		</div>
		<div class="form-group col-sm-12">
				<label for="inputEmail3" class="col-sm-4 control-label">User Type </label>
				<div class="col-sm-8">
				<div class="radio" ng-repeat="user in user_type">
<label><input type="radio" ng-model="reguser.user_type"  ng-value="user" ng-required>{{user.name}} </label>
				</div>
				</div>
		</div>
		<!-- <div class="form-group">
					<div class="col-sm-offset-4 col-sm-5">
						<div class="checkbox">
							<label> <input type="checkbox"> Remember me
							</label>
						</div>
					</div>
				</div> -->
		<div class="form-group">
			<div class="col-sm-12">
				<button id="regButId" ng-click="register(reguser)" ng-disabled="reg_frm.$invalid || isUnchanged(reguser) || (reguser.u_pass != reguser.c_pass)"  class="btn btn-primary btn-block " >Submit</button>
    			<button ng-click="reset()" ng-disabled="isUnchanged(reguser)" class="btn btn-primary btn-block ">Reset</button>
			</div>
		</div>
	</form>
</div>
