<div class="page_title">Vac Details</div>
<div ng-repeat="(key,vacDetails) in vac_details">
	<button class="btn btn-primary btn-block sep5px" ng-click="showVacDetails(key);">Show Vac Details of {{vac_details[key][0].child_name}} [{{key | momentjs: 'Do MMM YYYY'}}]</button>
	<!--a class="btn btn-primary btn-block sep5px" href="/vac/json/download.php?birth={{key}}&uid={{mobile}}">Set Reminder For {{vac_details[key][0].child_name}} [{{key | momentjs: 'Do MMM YYYY'}}]</a-->
	<div class="table-responsive d_{{key}} " style="display:none;" >
		<table class="table">
			<tr>
				<th>Sr</th>
				<th>Child name</th>
				<th>Vac name</th>
				<th>Start Date</th>
				<th>End Date</th>
			</tr>
			<tr ng-repeat="(key1,val) in vacDetails track by $index" class="vc_details {{val.vac_status}}" >
				<td><span class="vac_sr">{{val.vac_id}}</span></td>
				<td><span class="vac_sr">{{val.child_name}}</span></td>
				<td><span class="vc_name">{{val.vac_name}}</span></td>
				<td><span class="vc_startdate">{{val.start_date | momentjs: 'Do MMM YYYY'}}</span></td>
				<td><span class="vc_startdate">{{val.end_date | momentjs: 'Do MMM YYYY'}}</span></td>
				<!--td>
				<span class="vc_givendate" ng-if="val.given_date=='0000-00-00'"><input type="date" class="form-control" ng-model="vac_details[key][key1].given_date" id="givenDate" name="givenDate" placeholder="Date" min={{val.start_date}}   required autocomplete="off"></span>
				<span class="vc_givendate" ng-if="val.given_date!=='0000-00-00'">{{val.given_date}}</span>
				</td>
				200: <span class="date time">{{article.pubTime | momentjs: 'M/D/YYYY hh:mm A'}}</span> 
				<td ><button ng-click="updateShedule(val.id,key,key1);" ng-if="val.given_date=='0000-00-00'">Submit</button></td-->
			</tr>
		</table>
	</div>

</div>

<!-- 
<tr class="active">...</tr>
<tr class="success">...</tr>
<tr class="warning">...</tr>
<tr class="danger">...</tr>
<tr class="info">...</tr>

<!-- On cells (`td` or `th`) 
<tr>
  <td class="active">...</td>
  <td class="success">...</td>
  <td class="warning">...</td>
  <td class="danger">...</td>
  <td class="info">...</td>
</tr>
-->