<div class='page_title '>Why Vaccinate?</div>
<p>In simple words, vaccines save lives. The vaccinations gives you
	the power to protect your baby from dangerous illnesses like measles,
	tetanus and hepatitis.</p>
<p>It is a big responsibility as parents to learn the facts so that
	they can make the best choices to take care of their child's health .
	It is the effect of vaccination programs that many diseases like Polio
	which paralyzed millions of children worldwide before the vaccine was
	created. Diseases such as hepatitis, pertussis and measles can still
	infect children that are not protected.</p>


