<div class='page_title '>Why Vaccinate?</div>
<p>Simply put, vaccines save lives. You have the power to protect
	your baby from dangerous illnesses like measles, tetanus and hepatitis.</p>
<p>Being a parent is a big responsibility, and the best thing you
	can do for your child's health is to learn the facts so that you can
	make the best choices. Thanks to our nation's successful vaccination
	program, parents today have been spared witnessing the devastating
	effects of many diseases. Polio, for example, paralyzed millions of
	children worldwide before the vaccine was created. Diseases such as
	hepatitis, pertussis and measles can still infect children that are not
	protected.</p>
<div class="col-sm-12 col-md-3 col-lg-4 well1">
	<h3 class="center">Why Vaccinate?</h3>
	<p class="light">We did most of the heavy lifting for you to
		provide a default stylings that incorporate our custom components.
		Additionally, we refined animations and transitions to provide a
		smoother experience for developers.</p>
</div>
<div class="col-sm-12 col-md-3 col-lg-4 well1">
	<h3 class="center">Importance of Timing</h3>
	<p class="light">We did most of the heavy lifting for you to
		provide a default stylings that incorporate our custom components.
		Additionally, we refined animations and transitions to provide a
		smoother experience for developers.</p>
</div>
<div class="col-sm-12 col-md-3 col-lg-4  well1">
	<h3 class="center">Important Reasons..</h3>
	<p class="light">We did most of the heavy lifting for you to
		provide a default stylings that incorporate our custom components.
		Additionally, we refined animations and transitions to provide a
		smoother experience for developers.</p>
</div>


